extends ../index


append head

    script
        | var appData = {};
        - if (typeof(userGroups) !== 'undefined')
            | appData.userGroups = !{userGroups};
            //- | console.log('Loaded route with userGroups:', !{userGroups});
        - if (typeof(externalGroups) !== 'undefined')
            | appData.externalGroups = !{externalGroups};
            //- | console.log('Loaded route with userGroups:', !{userGroups});
        - if (typeof(areas) !== 'undefined')
            | appData.areas = !{areas};
            //- | console.log('Loaded index with areas:', !{areas});
        - if (typeof(userData) !== 'undefined')
            | appData.userData = !{userData};
            //- | console.log('Loaded route with userData:', !{userData});
        - if (typeof(userDefaultRouteFetchQuery) !== 'undefined')
            | appData.userDefaultRouteFetchQuery = !{userDefaultRouteFetchQuery};
            //- | console.log('Loaded route with userDefaultGroup:', '#{userDefaultGroup}');
        - if (typeof(authType) !== 'undefined')
            | appData.authType = '#{authType}';
            //- | console.log('Loaded route with authType:', '#{authType}');

        | appData.itemType = '#{itemType}';

        | define('state', appData);

    script.
        require(['/scripts/apps/route-index.js']);



block navbarCollapse

    +navbarCollapseIndex('routes')

    // Right side navigation
    ul.nav.navbar-nav.navbar-right

        include ../dropdownmenu


block content

    div.container
        div.masthead
            h2.page-header Mine turer

        div.item-list.item-list-routes(data-container-for="items")
            // TODO: Move styles to CSS-file
            p(style="margin-bottom: 30px;") Her er alle turene du har lagt inn. Klikk på de enkelte turene for å gjøre endringer.
                a.btn.btn-primary.pull-right(href="/tur") Ny tur

            // TODO: Move styles to CSS-file
            // div.group-select-container(style="margin-bottom: 20px;" class="hidden")
                div(data-placeholder-for="group-select")
                p.help-block Du har tilgang til flere grupper. Velg hvilken gruppe du vil se turer for, eller om du vil se turer knyttet til din bruker.

            div.no-groups-info(style="margin-bottom: 20px;" class="hidden")
                div.alert.alert-info
                    | Din bruker er ikke knyttet til noen forening. Du har derfor bare tilgang til dine egne turforslag. Kontakt din forening for å få tilgang til foreningen sine turer.

            div.filters-and-search.well
                div.filters.hidden
                    div.row
                        div.col-sm-12
                            h4
                                span.glyphicon.glyphicon-filter
                                | &nbsp;Filter

                    div.row
                        div.col-md-4
                            div.area
                                label Område
                                select.form-control(data-filter="omrade")
                                    option(value="") Alle områder
                                    each val in JSON.parse(areas)
                                        option(value=val._id)= val.navn

                        div.col-md-4
                            div.owner
                                label Eier
                                div(data-placeholder-for="group-select")

                        div.col-md-4
                            div.type
                                label Type
                                select.form-control(data-filter="type")
                                    option(value="Alle") Alle
                                    option(value="Turforslag") Turforslag
                                    option(value="Sommerrute") Sommerrute
                                    option(value="Vinterløype") Vinterløype
                div.row
                    div.col-sm-12
                        h4
                            span.glyphicon.glyphicon-search
                            | &nbsp; Søk

                div.row.search
                    div.col-sm-12
                        div.search
                            label Søk etter tur
                            input(type="text" class="form-control" placeholder="" name="search-term")
                            button.btn.btn-default(data-action="search" type="button") Søk

            div(class="hidden" data-container-for="search-term-info")
                div.alert.alert-info
                    strong Søk:
                    |&#32;
                    span Viser treff på søk etter turer med navn som inneholder
                    |&#32;
                    strong(data-placeholder-for="search-term")

            div(class="hidden" data-container-for="items-table")
                table.table.table-bordered.table-hover
                    thead
                        tr
                            th Tittel
                            th Publisert
                            th Lagret
                            th Valg
                    tbody(data-container-for="item-rows")

            div(class="hidden" data-container-for="no-items-alert")
                div.alert.alert-info
                    strong Ingen turer:
                    |&#32;
                    span Fant ingen turer.

            div(class="hidden" data-container-for="no-items-matching-filter-alert")
                div.alert.alert-info
                    strong Ingen turer:
                    |&#32;
                    span Fant ingen turer som passer til filter og søk.&nbsp;
                        a(data-action="filters-and-search-clear") Klikk her for å nullstille
                        | &nbsp;eller endre på søk eller filter.

            div(class="hidden" data-container-for="loading-items-message")
                span Henter turer...

            div.paginator(data-container-for="paginator")
