extends layout

block extraHeadContent
    link(rel='stylesheet', href='lib/leaflet-0.7.1/leaflet.css')
    script(src='lib/underscore/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')

    include indexTemplates

    script(src='scripts/models/user.js')
    script(src='scripts/models/route.js')
    script(src='scripts/collections/routes.js')
    script(src='scripts/views/select-view.js')
    script(src='scripts/views/index/index-view.js')
    script(src='scripts/views/index/listitem-view.js')

    script
        | $(document).ready(function () {

        | var appData = {};

        - if (typeof(userData) !== 'undefined')
            | appData.userData = !{userData};
            //- | console.log('Loaded route with userData:', !{userData});

        - if (typeof(userDefaultGroup) !== 'undefined')
            | appData.userDefaultGroup = '#{userDefaultGroup}';
            //- | console.log('Loaded route with userDefaultGroup:', '#{userDefaultGroup}');

        - if (typeof(userGroups) !== 'undefined')
            | appData.userGroups = !{userGroups};
            //- | console.log('Loaded route with userGroups:', !{userGroups});

        - if (typeof(authType) !== 'undefined')
            | appData.authType = '#{authType}';
            //- | console.log('Loaded route with authType:', '#{authType}');

        | new DNT.IndexView(appData);
        | });

block routeNavigation

    // Right side navigation
    ul.nav.navbar-nav.navbar-right

        li.hidden-lg.hidden-md.hidden-sm
            a(href="#") Mine turer
        li.hidden-lg.hidden-md.hidden-sm
            a(href="#") Opprett ny tur

        // Divider
        li.divider.hidden-lg.hidden-md.hidden-sm

        li.hidden-lg.hidden-md.hidden-sm
            a(href="http://artikkel.ut.no/1.6678023") Hjelp

        // Divider
        li.divider.hidden-lg.hidden-md.hidden-sm

        li.hidden-lg.hidden-md.hidden-sm
            a(href="/logout") Logg ut

        li.dropdown.hidden-xs

            a.dropdown-toggle(href="#" data-toggle="dropdown")
                span.glyphicon.glyphicon-align-justify
                | &nbsp;Meny

            ul.dropdown-menu
                li
                    a(href="/") Mine turer
                li
                    a(href="/tur") Opprett ny tur
                // Divider
                li.divider
                li
                    a(href="http://artikkel.ut.no/1.6678023") Hjelp

                // Divider
                li.divider
                li
                    a(href="/logout") Logg ut



block content

    div.container
        div.masthead
            h2.page-header Mine turer

        div#listContainer
            // TODO: Move styles to CSS-file
            p(style="margin-bottom: 20px;") Her er alle turene du har lagt inn. Klikk på de enkelte turene for å gjøre endringer.
                a#nyTurButton.btn.btn-primary.pull-right(href="/tur") Ny tur

            // TODO: Move styles to CSS-file
            div#groupSelectContainer(style="margin-bottom: 20px;")
                p Din har tilgang til flere grupper. Velg hvilken gruppe du vil se turer for.
                div#groupSelectPlaceholder

            table.table.table-bordered.table-hover
                thead
                    tr
                        th Tittel
                        th Område
                        th Publisert
                        th Lagret
                        th(colspan="2") Valg
                tbody(id="listItems")
