extends layout

block extraHeadContent
    link(rel='stylesheet', href='lib/leaflet-0.7.1/leaflet.css')
    script(src='lib/underscore/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')

    // Select2 plugin
    script(src='/lib/select2/select2.min.js')
    link(rel='stylesheet', href='/lib/select2/select2.css')
    link(rel='stylesheet', href='/lib/select2/select2-bootstrap.css')


    include indexTemplates

    script(src='scripts/models/user.js')
    script(src='scripts/models/route.js')
    script(src='scripts/collections/routes.js')
    script(src='scripts/views/select-view.js')
    script(src='scripts/views/index/index-view.js')
    script(src='scripts/views/index/listitem-view.js')

    script
        | $(document).ready(function () {

        | var appData = {};

        - if (typeof(userData) !== 'undefined')
            | appData.userData = !{userData};
            //- | console.log('Loaded route with userData:', !{userData});

        - if (typeof(userDefaultRouteFetchQuery) !== 'undefined')
            | appData.userDefaultRouteFetchQuery = !{userDefaultRouteFetchQuery};
            //- | console.log('Loaded route with userDefaultGroup:', '#{userDefaultGroup}');

        - if (typeof(userGroups) !== 'undefined')
            | appData.userGroups = !{userGroups};
            //- | console.log('Loaded route with userGroups:', !{userGroups});

        - if (typeof(authType) !== 'undefined')
            | appData.authType = '#{authType}';
            //- | console.log('Loaded route with authType:', '#{authType}');

        | new DNT.IndexView(appData);
        | });

block navbarHeader
    a.navbar-brand(href="http://www.ut.no" alt="Til ut.no")
        img(src="/images/ut-no-logo-hvit.png")

    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#route-navigation-collapse")
        span.sr-only Vis meny
        span.icon-bar
        span.icon-bar
        span.icon-bar

block routeNavigation

    // Right side navigation
    ul.nav.navbar-nav.navbar-right

        include dropDownNavigation



block content

    div.container
        div.masthead
            h2.page-header Mine turer

        div#listContainer
            // TODO: Move styles to CSS-file
            p(style="margin-bottom: 30px;") Her er alle turene du har lagt inn. Klikk på de enkelte turene for å gjøre endringer.
                a#nyTurButton.btn.btn-primary.pull-right(href="/tur") Ny tur

            // TODO: Move styles to CSS-file
            div.group-select-container(style="margin-bottom: 20px;" class="hidden")
                div(data-placeholder-for="group-select")
                p.help-block Din har tilgang til flere grupper. Velg hvilken gruppe du vil se turer for, eller om du vil se turer knyttet til din bruker.

            table.table.table-bordered.table-hover.routes-table
                thead
                    tr
                        th Tittel
                        th Område
                        th Publisert
                        th Lagret
                        th(colspan="2") Valg
                tbody(id="listItems")

            div(class="hidden" data-placeholder-for="no-routes-alert")
