extends layout

block extraHeadContent
    link(rel='stylesheet', href='lib/leaflet-0.7.1/leaflet.css')
    script(src='lib/underscore/underscore-min.js')
    script(src='lib/backbone/backbone-min.js')

    // Select2 plugin
    script(src='/lib/select2/select2.min.js')
    link(rel='stylesheet', href='/lib/select2/select2.css')
    link(rel='stylesheet', href='/lib/select2/select2-bootstrap.css')


    include indexTemplates

    script(src='scripts/models/user.js')
    script(src='scripts/models/route.js')
    script(src='scripts/models/poi.js')
    script(src='scripts/collections/ntb.js')
    script(src='scripts/collections/routes.js')
    script(src='scripts/collections/pois.js')
    script(src='scripts/views/select-view.js')
    script(src='scripts/views/index/index-view.js')
    script(src='scripts/views/index/listitem-view.js')
    script(src='scripts/views/poi/index-view.js')
    script(src='scripts/views/route/index-view.js')

    script
        | $(document).ready(function () {

        | var appData = {};

        - if (typeof(userData) !== 'undefined')
            | appData.userData = !{userData};
            //- | console.log('Loaded route with userData:', !{userData});

        - if (typeof(userDefaultRouteFetchQuery) !== 'undefined')
            | appData.userDefaultRouteFetchQuery = !{userDefaultRouteFetchQuery};
            //- | console.log('Loaded route with userDefaultGroup:', '#{userDefaultGroup}');

        - if (typeof(userGroups) !== 'undefined')
            | appData.userGroups = !{userGroups};
            //- | console.log('Loaded route with userGroups:', !{userGroups});

        - if (typeof(authType) !== 'undefined')
            | appData.authType = '#{authType}';
            //- | console.log('Loaded route with authType:', '#{authType}');

        | appData.itemType = '#{itemType}';

        | new DNT.PoiIndexView(appData);
        | });

mixin navbarCollapseIndex(active)
    ul.nav.navbar-nav.navbar-center.hidden-sm

        li(class=(active == 'routes' ? 'link-routes active' : 'link-routes'))
            a(href="/turer")
                span.glyphicon.glyphicon-globe
                | &nbsp;Mine turer

        li(class=(active == 'pois' ? 'link-pois active' : 'link-pois'))
            a(href="/steder")
                span.glyphicon.glyphicon-pushpin
                | &nbsp;Mine steder


block navbarHeader
    a.navbar-brand(href="/" alt="Til mine turer")
        img(src="/images/ut-no-logo-hvit.png")

    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#route-navigation-collapse")
        span.sr-only Vis meny
        span.icon-bar
        span.icon-bar
        span.icon-bar
