extends layout

block extraHeadContent
    link(rel='stylesheet', href='/lib/leaflet-0.7.1/leaflet.css')
    link(rel='stylesheet', href='/lib/LeafletDraw/leaflet.draw.css')
    script(src='/lib/underscore/underscore-min.js')
    script(src='/lib/backbone/backbone-min.js')
    script(src='/lib/leaflet-0.7.1/leaflet.js')
    script(src='/lib/routing/utils/LineUtil.Snapping.js')
    script(src='/lib/routing/utils/Marker.Snapping.js')
    script(src='/lib/routing/L.Routing.js')
    script(src='/lib/routing/L.Routing.Storage.js')
    script(src='/lib/routing/L.Routing.Draw.js')
    script(src='/lib/routing/L.Routing.Edit.js')
    script(src='/lib/LeafletDraw/leaflet.draw.js')
    script(src='/lib/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js')
    script(src='/lib/backbone.stickit/backbone.stickit.min.js')
    script(src='/lib/backbone-validation/backbone-validation.js')

    // Select2 plugin
    script(src='/lib/select2/select2.min.js')
    link(rel='stylesheet', href='/lib/select2/select2.css')
    link(rel='stylesheet', href='/lib/select2/select2-bootstrap.css')

    script(src='/scripts/routing.js')

    include poiTemplates
    include pictureTemplates
    include routeFactsTemplates

    script(src='/scripts/app.js')
    script(src='/scripts/models/user.js')
    script(src='/scripts/models/search.js')
    script(src='/scripts/collections/searches.js')
    script(src='/scripts/models/route.js')
    script(src='/scripts/collections/routes.js')
    script(src='/scripts/collections/pois.js')
    script(src='/scripts/models/poi.js')
    script(src='/scripts/models/picture.js')
    script(src='/scripts/collections/pictures.js')
    script(src='/scripts/models/app.js')
    script(src='/scripts/views/select-view.js')
    script(src='/scripts/views/route/searchfield-view.js')
    script(src='/scripts/views/route/routefacts-view.js')
    script(src='/scripts/views/route/routefactslinks-view.js')
    script(src='/scripts/views/route/routefactslink-view.js')
    script(src='/scripts/views/route/mappopover-view.js')
    script(src='/scripts/views/route/route-view.js')
    script(src='/scripts/views/route/gpxupload-view.js')
    script(src='/scripts/views/route/map-view.js')
    script(src='/scripts/views/route/picture-view.js')
    script(src='/scripts/views/route/pictures-view.js')
    script(src='/scripts/views/route/poi-view.js')
    script(src='/scripts/views/route/poipictures-view.js')
    script(src='/scripts/views/route/pois-view.js')

    script
        | $(document).ready(function(){

        | var appData = {};

        - if (typeof(routeData) !== 'undefined')
            | appData.routeData = !{routeData};
            //- | console.log('Loaded route with routeData:', !{routeData});
        - if (typeof(picturesData) !== 'undefined')
            | appData.picturesData = !{picturesData};
            //- | console.log('Loaded route with picturesData:', !{picturesData});
        - if (typeof(poisData) !== 'undefined')
            | appData.poisData = !{poisData};
            //- | console.log('Loaded route with poisData:', !{poisData});
        - if (typeof(userGroups) !== 'undefined')
            | appData.userGroups = !{userGroups};
            //- | console.log('Loaded route with userGroups:', !{userGroups});
        - if (typeof(userData) !== 'undefined')
            | appData.userData = !{userData};
            //- | console.log('Loaded route with userData:', !{userData});

        | DNT.initRouteApp(appData);
        | });

block routeNavigation

    // Scrollspy navigation
    ul.nav.navbar-nav.navbar-center.hidden-sm

        li.link-route-draw
            a(href="#route-draw")
                span.glyphicon.glyphicon-globe
                | &nbsp;Inntegning
        li.link-route-images
            a(href="#route-images")
                span.glyphicon.glyphicon-picture
                | &nbsp;Bilder
        li.link-route-pois
            a(href="#route-pois")
                span.glyphicon.glyphicon-map-marker
                | &nbsp;Steder
        li.link-route-facts
            a(href="#route-facts")
                span.glyphicon.glyphicon-list
                | &nbsp;Fakta


    // Right side navigation
    ul.nav.navbar-nav.navbar-right

        li.action-route-save
            a(data-action="route-save" data-toggle="tooltip" title="Du har gjort endringer som ikke er lagret" data-placement="bottom").route-save
                span.glyphicon.glyphicon-floppy-disk
                | &nbsp;Lagre
        li.action-route-switch-publish-state
            a(data-action="route-publish")
                span.glyphicon.glyphicon-cloud-upload
                | &nbsp;Publiser
            a(data-action="route-unpublish")
                span.glyphicon.glyphicon-cloud-download
                | &nbsp;Avpubliser

        // Divider
        li.divider.hidden-lg.hidden-md.hidden-sm

        li.hidden-lg.hidden-md.hidden-sm
            a(href="#") Mine turer
        li.hidden-lg.hidden-md.hidden-sm
            a(href="#") Opprett ny tur

        // Divider
        li.divider.hidden-lg.hidden-md.hidden-sm

        li.hidden-lg.hidden-md.hidden-sm
            a(href="#") Hjelp

        // Divider
        li.divider.hidden-lg.hidden-md.hidden-sm

        li.hidden-lg.hidden-md.hidden-sm
            a(href="/logout") Logg ut

        li.dropdown.hidden-xs

            a.dropdown-toggle(href="#" data-toggle="dropdown")
                span.glyphicon.glyphicon-align-justify
                | &nbsp;Meny

            ul.dropdown-menu
                li
                    a(href="/") Mine turer
                li
                    a(href="/tur") Opprett ny tur
                // Divider
                li.divider
                li
                    a(href="#") Hjelp

                // Divider
                li.divider
                li
                    a(href="/logout") Logg ut


block content

    div#routePage.container

        include routeDraw
        include routeImages
        include routePois
        include routeFacts
        include routeDone

    script(src='/lib/jquery.fileupload/js/vendor/jquery.ui.widget.js')
    script(src='/lib/jquery.fileupload/js/jquery.iframe-transport.js')
    script(src='/lib/jquery.fileupload/js/jquery.fileupload.js')
    script(src='/lib/jquery.fileupload/js/jquery.fileupload-process.js')
    script(src='/lib/jquery.fileupload/js/jquery.fileupload-validate.js')
    link(rel='stylesheet', href='/lib/jquery.fileupload/css/jquery.fileupload.css')
