extends layout

append head
    script(src='/lib/jquery/jquery-1.10.2.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')


block navbarCollapse

    // Right side navigation
    ul.nav.navbar-nav.navbar-right
        li.hidden-lg.hidden-md.hidden-sm
            a(href="/logout") Logg ut

        li.dropdown.hidden-xs

            a.dropdown-toggle(href="#" data-toggle="dropdown")
                span.glyphicon.glyphicon-align-justify
                | &nbsp;Meny

            ul.dropdown-menu
                li
                    a(href="/logout") Logg ut

block content

    div.container
        div.masthead
            h2.page-header Velkommen som bruker

        div#terms-and-conditions
            // TODO: Move styles to CSS-file
            p(style="margin-bottom: 20px;") Før du tar i bruk tjenesten må du godkjenne våre brukervilkår.

            form(role="form" action="" method="POST")
                div.checkbox
                    label
                        input(type="checkbox" name="terms-and-conditions-accept")
                        | Jeg har lest og godtatt&nbsp;
                    a(data-toggle="terms-and-conditions-popup") Vilkår for brukergenerert innhold på UT.no

                div.form-group.has-error(data-container-for="checkbox-missing-error")

                script.
                    var applyErrorText = function () {
                        $('[data-container-for="checkbox-missing-error"]').html('<p class="help-block">Du må krysse av for at du godkjenner villkårene før du kan gå videre.</p>');
                    };

                    var isCheckboxChecked = function () {
                        return !!$('input[name="terms-and-conditions-accept"]').prop('checked');
                    };

                    $(document).on('click', '[data-toggle="terms-and-conditions-popup"]', function (e) {
                        window.open('http://artikkel.ut.no/1.6676610', 'Villkår for brukergenerert innhold på UT.no', 'width=768, toolbar=yes, menubar=yes, location=no, resizable=yes, scrollbars=yes, status=no');
                    });

                    $(document).on('click', 'button', function (e) {
                        var checked = isCheckboxChecked();
                        if (!checked) {
                            e.preventDefault();
                            applyErrorText();
                        }
                    });

                    $(document).on('click', 'input[type="checkbox"]', function (e) {
                        var checked = isCheckboxChecked();
                        if (checked) {
                            $('[data-container-for="checkbox-missing-error"]').html('');
                        } else {
                            applyErrorText();
                        }
                    });

                div.form-group
                    button.btn.btn-primary(type="submit") Godkjenn

            p.help-block Ønsker du ikke å godkjenne vilkårene kan du avbryte ved å gå til&nbsp;
                a(href="http://www.ut.no") ut.no
