extends ../editor

append head

    script
        | var appData = {};
        - if (typeof(poiData) !== 'undefined')
            | appData.poiData = !{poiData};
            //- | console.log('Loaded poi with poiData:', !{poiData});
        - if (typeof(picturesData) !== 'undefined')
            | appData.picturesData = !{picturesData};
            //- | console.log('Loaded poi with picturesData:', !{picturesData});
        - if (typeof(poisData) !== 'undefined')
            | appData.poisData = !{poisData};
            //- | console.log('Loaded poi with poisData:', !{poisData});
        - if (typeof(userGroups) !== 'undefined')
            | appData.userGroups = !{userGroups};
            //- | console.log('Loaded poi with userGroups:', !{userGroups});
        - if (typeof(userData) !== 'undefined')
            | appData.userData = !{userData};
            //- | console.log('Loaded poi with userData:', !{userData});
        | define('state', appData);

    script.
        require(['/scripts/apps/poi-edit.js']);


block navbarCollapse

    // Scrollspy navigation
    ul.nav.navbar-nav.navbar-center.hidden-sm

        li.link-poi-position
            a(href="#poi-position")
                span.glyphicon.glyphicon-globe
                | &nbsp;Posisjonering
        li.link-poi-pictures
            a(href="#poi-pictures")
                span.glyphicon.glyphicon-picture
                | &nbsp;Bilder
        li.link-poi-facts
            a(href="#poi-facts")
                span.glyphicon.glyphicon-list
                | &nbsp;Fakta

    // Right side navigation
    ul.nav.navbar-nav.navbar-right

        li.action-poi-save
            a(data-action="do-save" data-toggle="tooltip" data-placement="bottom").poi-save
                span.glyphicon.glyphicon-floppy-disk
                | &nbsp;Lagre
        li.action-poi-switch-publish-state
            a(data-action="do-publish")
                span.glyphicon.glyphicon-cloud-upload
                | &nbsp;Publiser
            a.hidden(data-action="do-unpublish")
                span.glyphicon.glyphicon-cloud-download
                | &nbsp;Avpubliser

        // Divider
        li.divider.hidden-lg.hidden-md.hidden-sm

        include ../dropdownmenu


block content

    div.container

        div.page-block.poi-positioning(data-view="poi-positioning")

        div.page-block.poi-facts(data-view="poi-facts" id="poi-facts")
            div.row
                div.col-lg-12
                    form.form-horizontal

                        h3 Om stedet
                        h4 Beskrivelse

                        // Navn
                        div.form-group.poi-facts-field-navn.required
                            label.control-label.col-lg-2.col-md-2.col-sm-3(for="poi-facts-field-navn") Navn
                            div.col-lg-7.col-md-7.col-sm-7
                                input.form-control(name="poi-facts-field-navn" placeholder="Navn" data-model-validation-field-name="navn")
                            div.col-lg-7.col-md-7.col-sm-7.col-lg-offset-2.col-md-offset-2.col-sm-offset-3
                                p.help-block Hva er navnet på stedet?

                        // Beskrivelse
                        div.form-group.poi-facts-field-beskrivelse.required
                            label.control-label.col-lg-2.col-md-2.col-sm-3(for="poi-facts-field-beskrivelse") Beskrivelse
                            div.col-lg-7.col-md-7.col-sm-7
                                textarea.form-control(name="poi-facts-field-beskrivelse" placeholder="Beskrivelse" rows="10" data-model-validation-field-name="beskrivelse")
                            div.col-lg-7.col-md-7.col-sm-7.col-lg-offset-2.col-md-offset-2.col-sm-offset-3
                                p.help-block Beskriv stedet.

        div.page-block.poi-pictures(data-view="poi-pictures")
