extends ../index

append head

    script
        | var appData = {};
        - if (typeof(userGroups) !== 'undefined')
            | appData.userGroups = !{userGroups};
            //- | console.log('Loaded route with userGroups:', !{userGroups});
        - if (typeof(userData) !== 'undefined')
            | appData.userData = !{userData};
            //- | console.log('Loaded route with userData:', !{userData});
        - if (typeof(userDefaultRouteFetchQuery) !== 'undefined')
            | appData.userDefaultRouteFetchQuery = !{userDefaultRouteFetchQuery};
            //- | console.log('Loaded route with userDefaultGroup:', '#{userDefaultGroup}');
        - if (typeof(authType) !== 'undefined')
            | appData.authType = '#{authType}';
            //- | console.log('Loaded route with authType:', '#{authType}');

        | appData.itemType = '#{itemType}';

        | define('state', appData);

    script.
        require(['/scripts/apps/poi-index.js']);



block navbarCollapse

    +navbarCollapseIndex('pois')

    // Right side navigation
    ul.nav.navbar-nav.navbar-right

        include ../dropdownmenu


block content

    div.container
        div.masthead
            h2.page-header Mine steder

        div.item-list.item-list-pois(data-container-for="items")
            // TODO: Move styles to CSS-file
            p(style="margin-bottom: 30px;") Her er alle stedene du har lagt inn. Klikk på de enkelte stedene for å gjøre endringer.
                a.btn.btn-primary.pull-right(href="/steder/ny") Nytt sted

            div.no-groups-info(style="margin-bottom: 20px;" class="hidden")
                div.alert.alert-info
                    | Din bruker er ikke knyttet til noen forening. Du har derfor bare tilgang til dine egne steder. Kontakt din forening for å få tilgang til foreningen sine steder.

            div.filters-and-search.well
                div.filters.hidden
                    div.row
                        div.col-sm-12
                            h4
                                span.glyphicon.glyphicon-filter
                                | &nbsp;Filter

                    div.row
                        div.col-md-4
                            div.area
                                label Område
                                select.form-control(data-filter="omrade")
                                    option(value="") Alle områder
                                    if areas
                                        each val in JSON.parse(areas)
                                            option(value=val._id)= val.navn

                        div.col-md-4
                            div.owner
                                label Eier
                                div(data-placeholder-for="group-select")

                        div.col-md-4
                            div.type
                                label Type
                                select.form-control(data-filter="type")
                                    option(value="!Hytte") Alle
                                    option(value="Akebakke") Akebakke
                                    option(value="Attraksjon") Attraksjon
                                    option(value="Badeplass") Badeplass
                                    option(value="Bro") Bro
                                    option(value="Bu") Bu
                                    option(value="Fiskeplass") Fiskeplass
                                    option(value="Fjelltopp") Fjelltopp
                                    option(value="Gapahuk") Gapahuk
                                    option(value="Geocaching") Geocaching
                                    option(value="Grotte") Grotte
                                    option(value="Holdeplass") Holdeplass
                                    option(value="Kitested") Kitested
                                    option(value="Klatrefelt") Klatrefelt
                                    option(value="Parkering") Parkering
                                    option(value="Rasteplass") Rasteplass
                                    option(value="Servering") Servering
                                    option(value="Skitrekk") Skitrekk
                                    option(value="Skiltpunkt") Skiltpunkt
                                    option(value="Skøytevann") Skøytevann
                                    option(value="Teltplass") Teltplass
                                    option(value="Toalett") Toalett
                                    option(value="Togstasjon") Togstasjon
                                    option(value="Turorientering") Turorientering
                                    option(value="Turpostkasse") Turpostkasse
                                    option(value="Utsiktspunkt") Utsiktspunkt
                                    option(value="Vadested") Vadested
                div.row
                    div.col-sm-12
                        h4
                            span.glyphicon.glyphicon-search
                            | &nbsp; Søk

                div.row.search
                    div.col-sm-12
                        div.search
                            label Søk etter sted
                            input(type="text" class="form-control" placeholder="" name="search-term")
                            button.btn.btn-default(data-action="search" type="button") Søk

            div(class="hidden" data-container-for="search-term-info")
                div.alert.alert-info
                    strong Søk:
                    |&#32;
                    span Viser treff på søk etter steder med navn som inneholder
                    |&#32;
                    strong(data-placeholder-for="search-term")

            div(class="hidden" data-container-for="no-items-alert")
                div.alert.alert-info
                    strong Ingen steder:
                    |&#32;
                    span Fant ingen steder tilhørende valgt bruker eller gruppe.

            div(class="hidden" data-container-for="cabins-disabled-message")
                div.alert.alert-info
                    strong Hytter deaktivert:
                    |&#32;
                    span I tillegg til andre type steder inneholder listen også hytter. Hyttene kan likevel ikke redigeres i Stedsadmin enda. Inntil videre må de må de redigeres i Sherpa.

            div(class="hidden" data-container-for="loading-items-message")
                span Henter steder...

            div(class="hidden" data-container-for="items-table")
                table.table.table-bordered.table-hover
                    thead
                        tr
                            th Tittel
                            th Publisert
                            th Lagret
                            th Valg
                    tbody(data-container-for="item-rows")

            div.paginator(data-container-for="paginator")
